.rs-catalog {
  margin-top: 58px;
  margin-bottom: 120px;
}
.rs-catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  width: 100%;
}
@media (min-width: 1439.98px) {
  .rs-catalog__wrapper .rs-filter {
    width: 100%;
    max-width: 306px;
  }
}
.rs-catalog__content {
  width: 100%;
}
.rs-catalog__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
@media (max-width: 1439.98px) {
  .rs-catalog__head {
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .rs-catalog__head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
}
.rs-catalog__open-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7e5ddd;
}
.rs-catalog__open-filter span {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
  text-decoration-line: underline;
  margin-left: 2px;
  display: block;
}
@media (max-width: 374.98px) {
  .rs-catalog__open-filter span {
    display: none;
  }
}
.rs-catalog__open-filter::before {
  font-size: 22px;
}
@media (min-width: 1439.98px) {
  .rs-catalog__open-filter {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .rs-catalog__display {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.rs-catalog__display ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.rs-catalog__display ul li a {
  border: 1px solid rgba(13, 40, 87, 0.05);
  border-radius: 8px;
  padding: 8px;
  background: rgba(126, 93, 221, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #7e5ddd;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rs-catalog__display ul li a._active {
  background: #7e5ddd;
  color: #fff;
}
.rs-catalog__display ul li a svg *[fill] {
  fill: currentColor;
}
.rs-catalog__display ul li a svg *[stroke] {
  stroke: currentColor;
}
.rs-catalog__view {
  color: #6c6b6b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  margin-left: 16px;
}
@media (max-width: 1439.98px) {
  .rs-catalog__view {
    display: none;
  }
}
.rs-catalog__sortings {
  margin: 0px 0px 0px auto;
}
.rs-catalog__sortings .select {
  position: relative;
}
.rs-catalog__sortings .select__body {
  position: relative;
}
.rs-catalog__sortings .select__title {
  width: 100%;
  color: inherit;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
}
.rs-catalog__sortings .select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}
@media (max-width: 1439.98px) {
  .rs-catalog__sortings .select__value {
    font-size: 12px;
    line-height: 14px;
  }
}
.rs-catalog__sortings .select__value:after {
  content: "\e912";
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  margin-left: 4px;
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  color: #b9b9b9;
}
.rs-catalog__sortings .select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 1;
  color: #6c6b6b;
}
.rs-catalog__sortings .select__value .select__content {
  margin-left: 8px;
  color: #7e5ddd;
  font-weight: 700;
}
.rs-catalog__sortings .select__options {
  position: absolute;
  top: calc(100% + 4px);
  min-width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 16px;
}
.rs-catalog__sortings .select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-catalog__sortings .select__option:hover {
    color: #7e5ddd;
  }
}
.rs-catalog__sortings .select__option:not(:last-child) {
  margin-bottom: 10px;
}
.rs-catalog__sortings .select._select-open {
  z-index: 5;
}
.rs-catalog__sortings .select._select-open .select__value:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.rs-catalog__block .pagging {
  margin: 0;
}
.rs-catalog__list {
  margin-bottom: 40px;
}
.rs-catalog__list[data-view=grid] {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 1169.98px) {
  .rs-catalog__list[data-view=grid] {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 539.98px) {
  .rs-catalog__list[data-view=grid] {
    grid-template-columns: repeat(1, 1fr);
  }
}
.rs-catalog__list[data-view=grid] .rs-catalog__item:has(.rs-catalog-product) {
  display: none;
}
.rs-catalog__list[data-view=list] .rs-catalog__item:has(.product) {
  display: none;
}
[data-view=list] .rs-catalog__item:not(:last-child) {
  margin-bottom: 16px;
}
.rs-catalog__category ul {
  border: 1px solid #eaeaea;
  border-radius: 0 0 8px 8px;
  padding: 8px 16px;
  background: #fff;
  margin-top: 525px;
}
@media (max-width: 991.98px) {
  .rs-catalog__category ul {
    margin-top: 0px;
  }
}
.rs-catalog__category ul li:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
.rs-catalog__category ul li a {
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #1a1a1f;
  position: relative;
}
.rs-catalog__category ul li a::after {
  content: "\e912";
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #b9b9b9;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rs-catalog__category_list {
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1169.98px) {
  .rs-catalog__category_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
@media (max-width: 767.98px) {
  .rs-catalog__category_list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.rs-catalog__category_item {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-catalog__category_item:hover {
    background-color: #f2effa;
  }
}
.rs-catalog__category_item a {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.rs-catalog__category_img {
  max-width: 120px;
  max-height: 120px;
  border-radius: 8px;
  background: #f2effa;
  overflow: hidden;
}
.rs-catalog__category_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-catalog__category_desc h5 {
  line-height: 130%;
  color: #1a1a1f;
}
.rs-catalog__category_desc h6 {
  color: #7e5ddd;
  line-height: 130%;
}

.rs-catalog-product__item {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-catalog-product__item:hover {
    background-color: #f3f6fb;
  }
}
@media (max-width: 767.98px) {
  .rs-catalog-product__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.rs-catalog-product__picture {
  width: 100%;
  height: 100%;
  padding: 16px;
  max-width: 247px;
  max-height: 247px;
  position: relative;
  -webkit-transition: max-height 0.3s ease 0s;
  transition: max-height 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .rs-catalog-product__picture {
    max-width: 100%;
  }
}
.rs-catalog-product__picture img {
  max-height: 215px;
  -webkit-transition: max-height 0.3s ease 0s;
  transition: max-height 0.3s ease 0s;
}
.rs-catalog-product__img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.rs-catalog-product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-catalog-product__action {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 10;
}
.rs-catalog-product__action ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(26, 26, 31, 0.3);
  border-radius: 50%;
}
.rs-catalog-product__action ul li a::before {
  font-size: 24px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.rs-catalog-product__action ul li a.fav-btn._active {
  background: #ff0000 !important;
}
.rs-catalog-product__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 16px 16px 16px 8px;
}
.rs-catalog-product__table {
  margin-top: 4px;
  width: 100%;
}
.rs-catalog-product__table__more {
  margin-top: 12px;
  color: #7e5ddd;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}
.rs-catalog-product__table__more span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rs-catalog-product__table__more span:after {
  content: "\e912";
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  margin-left: 4px;
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  color: #b9b9b9;
}
._showmore-active .rs-catalog-product__table__more span:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.rs-catalog-product__table table {
  width: 100%;
}
.rs-catalog-product__table table thead tr th {
  padding: 0px 0px 2px;
  color: #6c6b6b;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  text-align: left;
}
.rs-catalog-product__table table thead tr th:last-child {
  text-align: right;
}
.rs-catalog-product__table table tbody tr td {
  padding: 6px 0px;
  color: #1a1a1f;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  text-align: left;
  border-bottom: 1px solid #eaeaea;
}
.rs-catalog-product__table table tbody tr td:last-child {
  text-align: right;
}
.rs-catalog-product__table table tbody tr:first-child td {
  border-top: 1px solid #eaeaea;
}
.rs-catalog-product__info {
  width: 100%;
  max-width: 210px;
  padding: 16px;
  border-left: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
@media (max-width: 767.98px) {
  .rs-catalog-product__info {
    border: none;
  }
}
.rs-catalog-product__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2f2f2f;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  margin-bottom: 18px;
}
@media (max-width: 1439.98px) {
  .rs-catalog-product__status {
    margin-bottom: 12px;
  }
}
@media (max-width: 1439.98px) {
  .rs-catalog-product__status {
    font-size: 10px;
  }
}
.rs-catalog-product__status img {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  margin-right: 8px;
}
@media (max-width: 1439.98px) {
  .rs-catalog-product__status img {
    min-width: 10px;
    max-width: 10px;
    margin-right: 5px;
  }
}
.rs-catalog-product__info_list {
  width: 100%;
  margin-top: 8px;
}
.rs-catalog-product__info_list ul {
  width: 100%;
}
.rs-catalog-product__info_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #051036;
}
.rs-catalog-product__info_list li span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  color: #697488;
}
.rs-catalog-product__info_list li span:first-child::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px dotted #d4dbe8;
  margin: 0px 4px 5px;
}
.rs-catalog-product__info_list li:not(:last-child) {
  margin-bottom: 16px;
}
.rs-catalog-product__info_list li span:last-child {
  text-align: right;
  display: inline-block;
  color: #1a1a1f;
}
.rs-catalog-product__prices-main {
  color: #1a1a1f;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 135.714% */
  margin: 8px 0px 4px;
}
@media (max-width: 1439.98px) {
  .rs-catalog-product__prices-main {
    font-size: 24px;
  }
}
@media (max-width: 1439.98px) {
  .rs-catalog-product__prices-main {
    font-size: 18px;
    line-height: 21px;
    margin: 0px 0px 4px;
  }
}
.rs-catalog-product__prices-one {
  color: #6c6b6b;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}
@media (max-width: 1439.98px) {
  .rs-catalog-product__prices-one {
    font-size: 12px;
  }
}
.rs-catalog-product__prices-old {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-decoration: line-through;
  color: #6d758d;
  margin-top: -5px;
}
.rs-catalog-product__labels {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
  z-index: 0;
}
.rs-catalog-product__label {
  font-weight: 700;
  font-size: 11px;
  line-height: 91%;
  letter-spacing: 0.08em;
  color: #fff;
  border-radius: 4px;
  padding: 4px;
}
.rs-catalog-product__label_new {
  background: #f26300;
}
.rs-catalog-product__label_sale {
  background: #dd047e;
}
.rs-catalog-product__warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 16px;
  color: #2f2f2f;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
}
@media (max-width: 1439.98px) {
  .rs-catalog-product__warning {
    font-size: 12px;
  }
}
.rs-catalog-product__warning::before {
  color: #707f8d;
  font-size: 24px;
  margin-right: 8px;
}
@media (max-width: 1439.98px) {
  .rs-catalog-product__warning::before {
    font-size: 20px;
    margin-right: 6px;
  }
}
@media (max-width: 1439.98px) {
  .rs-catalog-product__warning::before {
    font-size: 14px;
    margin-top: 4px;
  }
}
.rs-catalog-product__button .rs-btn {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 286%;
  text-align: center;
  color: #fff;
  padding: 0;
}