.rs-list-block {
  margin: 40px 0px !important;
  padding: 0 !important;
  background-color: transparent !important;
}
.rs-list-block__wrapper {
  padding: 40px;
  border-radius: 12px;
  background: #f3f6fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rs-market .rs-list-block__wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.rs-price-about .rs-list-block__wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1439.98px) {
  .rs-list-block__wrapper {
    padding: 20px;
  }
}
@media (max-width: 767.98px) {
  .rs-list-block__wrapper {
    padding: 20px 15px;
  }
}
.rs-list-block__wrapper .line-title {
  margin-bottom: 16px;
}
.rs-market .rs-list-block__wrapper .line-title::before {
  display: none;
}
.rs-list-block__wrapper > h6 {
  margin-bottom: 10px;
}
.rs-list-block__wrapper > h2 {
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 1439.98px) {
  .rs-list-block__wrapper > h2 {
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .rs-list-block__wrapper > h2 {
    margin-bottom: 15px;
  }
}
@media (min-width: 1439.98px) {
  .rs-tariff .rs-list-block__wrapper > h2 {
    margin-bottom: 52px;
  }
  .rs-market .rs-list-block__wrapper > h2 {
    margin-bottom: 25px;
    text-align: left;
  }
  .rs-prices .rs-list-block__wrapper > h2 {
    margin-bottom: 32px;
  }
}
.rs-list-block__wrapper > .rs-btn {
  margin-top: 32px;
}
@media (max-width: 767.98px) {
  .rs-list-block__wrapper > .rs-btn {
    width: 100%;
    margin-top: 15px;
  }
}
.rs-features .rs-list-block__wrapper > .rs-btn {
  margin-top: 38px;
}
.rs-list-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: -15px;
}
@media (max-width: 767.98px) {
  .rs-list-block__list {
    margin: -7.5px;
  }
}
.rs-list-block__list-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rs-prices .rs-list-block__list {
  margin: 0;
  width: 100%;
}
.rs-price-about .rs-list-block__list {
  margin: -16.5px;
}
@media (max-width: 1439.98px) {
  .rs-price-about .rs-list-block__list {
    margin: -7.5px;
  }
}
@media (max-width: 991.98px) {
  .rs-tariff .rs-list-block__list {
    margin: 0;
  }
}
.rs-list-block__block {
  padding: 12.5px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
@media (max-width: 767.98px) {
  .rs-list-block__block {
    padding: 7.5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.rs-features .rs-list-block__block {
  padding: 8px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
}
.rs-tariff .rs-list-block__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  padding: 15px;
}
@media (max-width: 991.98px) {
  .rs-tariff .rs-list-block__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0;
  }
  .rs-tariff .rs-list-block__block:not(:last-child) {
    margin-bottom: 15px;
  }
}
.rs-market .rs-list-block__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
@media (max-width: 991.98px) {
  .rs-market .rs-list-block__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (max-width: 479.98px) {
  .rs-market .rs-list-block__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.rs-price-about .rs-list-block__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding: 16.5px;
}
@media (max-width: 1439.98px) {
  .rs-price-about .rs-list-block__block {
    padding: 7.5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
}
@media (max-width: 767.98px) {
  .rs-price-about .rs-list-block__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.rs-list-block__slider {
  width: 100%;
  overflow: visible;
}
@media (min-width: 991.98px) {
  .rs-list-block__swiper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 30px;
  }
}
.rs-list-block__item {
  height: 100%;
  padding: 32px;
  border-radius: 8px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1439.98px) {
  .rs-list-block__item {
    padding: 24px;
  }
}
@media (max-width: 1169.98px) {
  .rs-list-block__item {
    padding: 16px;
  }
}
@media (max-width: 767.98px) {
  .rs-list-block__item {
    padding: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rs-features .rs-list-block__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
  }
}
.rs-features .rs-list-block__item {
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rs-market .rs-list-block__item {
  padding: 0;
}
.rs-price-about .rs-list-block__item {
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1169.98px) {
  .rs-price-about .rs-list-block__item {
    padding: 10px;
  }
}
.rs-list-block__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rs-list-block__icon {
  min-width: 83px;
  max-width: 83px;
  margin-right: 30px;
}
.rs-features .rs-list-block__icon {
  min-width: 48px;
  max-width: 48px;
  margin-right: 24px;
}
.rs-price-about .rs-list-block__icon {
  min-width: 58px;
  max-width: 58px;
  margin-right: 0px;
}
@media (max-width: 1169.98px) {
  .rs-price-about .rs-list-block__icon {
    min-width: 48px;
    max-width: 48px;
  }
}
@media (max-width: 1439.98px) {
  .rs-list-block__icon {
    min-width: 70px;
    max-width: 70px;
    margin-right: 20px;
  }
}
@media (max-width: 1169.98px) {
  .rs-list-block__icon {
    min-width: 60px;
    max-width: 60px;
    margin-right: 15px;
  }
}
@media (max-width: 767.98px) {
  .rs-list-block__icon {
    min-width: 48px;
    max-width: 48px;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .rs-features .rs-list-block__icon {
    margin-right: 10px;
    margin-bottom: 0px;
  }
}
.rs-list-block__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rs-list-block__img {
  width: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
@media (any-hover: hover) {
  .rs-list-block__img:hover img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .rs-list-block__img:hover img:last-child {
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
  }
}
.rs-list-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}
.rs-list-block__img img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.rs-list-block__number {
  color: rgba(126, 93, 221, 0.3);
  font-size: 69.148px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 82.977px */
}
@media (max-width: 1439.98px) {
  .rs-list-block__number {
    font-size: 60px;
  }
}
@media (max-width: 1169.98px) {
  .rs-list-block__number {
    font-size: 50px;
  }
}
@media (max-width: 767.98px) {
  .rs-list-block__number {
    font-size: 40px;
  }
}
.rs-price-about .rs-list-block__number {
  font-size: 28px;
}
@media (max-width: 1169.98px) {
  .rs-price-about .rs-list-block__number {
    font-size: 24px;
  }
}
.rs-list-block__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 1439.98px) {
  .rs-list-block__description h5 {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 767.98px) {
  .rs-list-block__description h5 {
    font-size: 16px;
    line-height: 22px;
  }
}
.rs-list-block__description p {
  margin-top: 8px;
}
.rs-price-about .rs-list-block__description p {
  color: #1a1a1f;
  line-height: 128.571%;
}

.rs-tariff__list {
  width: 100%;
}
.rs-tariff__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rs-tariff__item:not(:last-child) {
  margin-bottom: 14.7px;
}
.rs-tariff__icon {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #eaf2ff;
  margin-right: 12px;
  padding: 8px;
}
.rs-tariff__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rs-tariff__description p {
  color: #6c6b6b;
}
.rs-tariff__spollers_block {
  width: 100%;
}
.rs-tariff__spollers_item {
  border-radius: 8px;
  background: #fff;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  position: relative;
}
.rs-tariff__spollers_item > h6 {
  color: #6d758d;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.004px; /* 150.04% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.rs-tariff__spollers_title {
  width: 100%;
  text-align: left;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .rs-tariff__spollers_title {
    margin-bottom: 15px;
  }
}
.rs-tariff__spollers_title._spoller-active i::before {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      -ms-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
}
.rs-tariff__spollers_title i {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 48px;
  max-height: 48px;
  min-width: 48px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f6fb;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .rs-tariff__spollers_title i {
    display: none;
  }
}
.rs-tariff__spollers_title i::before, .rs-tariff__spollers_title i::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      -ms-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  width: 2px;
  height: 14px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #7e5ddd;
}
.rs-tariff__spollers_title i::before {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}
.rs-tariff__spollers_body {
  width: 100%;
  margin: 24px 0px;
}
@media (max-width: 991.98px) {
  .rs-tariff__spollers_body {
    margin-top: 0px;
  }
}
.rs-tariff__spollers_footer {
  width: 100%;
  margin: auto 0px 0px;
  padding-top: 16px;
  border-top: 1px solid #eaeaea;
}
@media (max-width: 991.98px) {
  .rs-tariff__spollers_footer {
    padding-top: 10px;
  }
}
@media (max-width: 1920px) {
  .rs-tariff__spollers_price h4 {
    font-size: calc(20px + 4 * (100vw - 320px) / 1600);
    line-height: calc(24px + 8 * (100vw - 320px) / 1600);
  }
}
.rs-tariff__spollers_button {
  margin-top: 32px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .rs-tariff__spollers_button {
    margin-top: 10px;
  }
}
.rs-tariff__spollers_button .rs-btn {
  width: 100%;
}

.rs-prices__spollers {
  width: 100%;
}
.rs-prices__spollers_item {
  width: 100%;
}
.rs-prices__spollers_item:not(:last-child) {
  margin-bottom: 16px;
}
.rs-prices__spollers_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 24px 32px;
  border-radius: 12px;
  background: #fff;
  color: #1a1a1f;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}
@media (max-width: 1439.98px) {
  .rs-prices__spollers_title {
    padding: 24px 24px;
    font-size: 20px;
  }
}
@media (max-width: 1169.98px) {
  .rs-prices__spollers_title {
    padding: 16px;
    font-size: 16px;
  }
}
.rs-prices__spollers_title::after {
  content: "";
  display: block;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_203_4278)'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.79289 10.2929C6.18342 9.90237 6.81658 9.90237 7.20711 10.2929L12.5 15.5858L17.7929 10.2929C18.1834 9.90237 18.8166 9.90237 19.2071 10.2929C19.5976 10.6834 19.5976 11.3166 19.2071 11.7071L13.2071 17.7071C12.8166 18.0976 12.1834 18.0976 11.7929 17.7071L5.79289 11.7071C5.40237 11.3166 5.40237 10.6834 5.79289 10.2929Z' fill='%236C6B6B'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_203_4278'%3e%3crect width='24' height='24' fill='white' transform='translate(0.5 0.5)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (max-width: 1169.98px) {
  .rs-prices__spollers_title::after {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
  }
}
.rs-prices__spollers_title._spoller-active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.rs-prices__spollers_body {
  margin-top: 8px;
  padding: 24px;
  background: #fff;
  border-radius: 12px;
}
@media (max-width: 1169.98px) {
  .rs-prices__spollers_body {
    padding: 16px;
  }
}
.rs-prices__table {
  width: 100%;
}
.rs-prices__table table {
  width: 100%;
  text-align: left;
}
.rs-prices__table table thead tr th {
  padding: 13px 5px;
  color: #2b2d33;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
  text-align: left;
  vertical-align: top;
}
@media (max-width: 1439.98px) {
  .rs-prices__table table thead tr th {
    padding: 10px 5px;
    font-size: 16px;
  }
}
@media (max-width: 1169.98px) {
  .rs-prices__table table thead tr th {
    font-size: 14px;
  }
}
.rs-prices__table table thead tr th:last-child {
  text-align: right;
}
.rs-prices__table table tbody tr td {
  border-top: 1px solid #d6d5df;
  padding: 15px 5px;
  color: #2b2d33;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  text-align: left;
  vertical-align: top;
}
@media (max-width: 1439.98px) {
  .rs-prices__table table tbody tr td {
    padding: 10px 5px;
  }
}
@media (max-width: 1169.98px) {
  .rs-prices__table table tbody tr td {
    font-size: 14px;
  }
}
.rs-prices__table table tbody tr td:last-child {
  text-align: right;
}
.rs-prices__warning {
  margin-top: 16px;
  padding: 12px;
  border-radius: 8px;
  background: #fff8c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a1a1f;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
}
@media (max-width: 1439.98px) {
  .rs-prices__warning {
    font-size: 14px;
    padding: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.rs-prices__warning::before {
  font-size: 24px;
  margin-right: 10px;
  color: #b29d00;
}
@media (max-width: 1439.98px) {
  .rs-prices__warning::before {
    margin-top: 2px;
  }
}