@charset "UTF-8";
.rs-temp-text {
  margin-top: 40px;
  margin-bottom: 120px;
}
@media (max-width: 1439.98px) {
  .rs-temp-text {
    margin-top: 30px;
    margin-bottom: 80px;
  }
}
@media (max-width: 1169.98px) {
  .rs-temp-text {
    margin-bottom: 50px;
  }
}
.rs-temp-text__description h4 {
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 1920px) {
  .rs-temp-text__description h4 {
    font-size: calc(18px + 6 * (100vw - 320px) / 1600);
    line-height: calc(22px + 7 * (100vw - 320px) / 1600);
  }
}
.rs-temp-text__description p {
  color: #6c6b6b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.4px */
  margin: 18px 0px;
}
@media (max-width: 991.98px) {
  .rs-temp-text__description p {
    font-size: 13px;
  }
}
.rs-temp-text__description blockquote {
  padding: 34px 34px;
  border-radius: 10px;
  background: #f3f6fb;
  margin: 18px 0px;
}
@media (max-width: 1439.98px) {
  .rs-temp-text__description blockquote {
    padding: 20px;
  }
}
.rs-temp-text__description blockquote h4 {
  margin: 0;
}
.rs-temp-text__description blockquote h5 {
  margin: 0;
}
.rs-temp-text__description blockquote p {
  margin-top: 10px;
  margin-bottom: 0px;
}
.rs-temp-text__description h5 {
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  margin-top: 18px;
  margin-bottom: 10px;
}
@media (max-width: 991.98px) {
  .rs-temp-text__description h5 {
    font-size: 15px;
    line-height: 120%;
  }
}
.rs-temp-text__description ul,
.rs-temp-text__description ol {
  width: 100%;
  max-width: 1012px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7.5px -10px -2.5px;
}
.rs-temp-text__description ul li,
.rs-temp-text__description ol li {
  color: #6c6b6b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  margin: 2.5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991.98px) {
  .rs-temp-text__description ul li,
  .rs-temp-text__description ol li {
    font-size: 13px;
    line-height: 15.6px;
  }
}
.rs-temp-text__description ol {
  max-width: 1030px;
  counter-reset: li;
}
.rs-temp-text__description ol li {
  margin: 3px 10px;
}
.rs-temp-text__description ol li:before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero) ". ";
  margin-right: 8px;
  color: #7e5ddd;
}
.rs-temp-text__description ul li::before {
  content: "•";
  display: block;
  margin-right: 8px;
  color: #7e5ddd;
}
@media (max-width: 767.98px) {
  .rs-temp-text__description .table {
    overflow-x: scroll;
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .rs-temp-text__description .table::-webkit-scrollbar {
    display: none;
  }
  .rs-temp-text__description .table::-webkit-scrollbar-thumb {
    display: none;
  }
}
.rs-temp-text__description table {
  margin: 18px 0px;
  text-align: left;
  width: 100%;
  border-spacing: 0px;
  table-layout: fixed;
}
@media (max-width: 767.98px) {
  .rs-temp-text__description table {
    min-width: 800px;
  }
}
.rs-temp-text__description table thead tr th {
  border-top: 1px solid #d4d7e5;
  border-right: 1px solid #d4d7e5;
  border-bottom: 1px solid #d4d7e5;
  color: #565973;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  width: 150px;
  font-size: 13px;
  padding: 12px 16px;
}
@media (min-width: 1439.98px) {
  .rs-temp-text__description table thead tr th {
    width: 200px;
    font-size: 16px;
    padding: 17px 20px 14px;
  }
}
.rs-temp-text__description table thead tr th:first-child {
  border-radius: 10px 0px 0px 0px;
  border-left: 1px solid #d4d7e5;
  width: auto;
}
.rs-temp-text__description table thead tr th:last-child {
  border-radius: 0px 10px 0px 0px;
}
.rs-temp-text__description table tbody tr td {
  border-right: 1px solid #d4d7e5;
  border-bottom: 1px solid #d4d7e5;
  color: #565973;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  width: 150px;
  font-size: 13px;
  padding: 12px 16px;
}
@media (min-width: 1439.98px) {
  .rs-temp-text__description table tbody tr td {
    width: 200px;
    padding: 14px 20px 14.5px;
    font-size: 16px;
  }
}
.rs-temp-text__description table tbody tr td:first-child {
  border-left: 1px solid #d4d7e5;
}
.rs-temp-text__description table tbody tr:nth-child(2n+1) {
  background-color: #f5f7fe;
}
.rs-temp-text__description table tbody tr:last-child td:first-child {
  border-radius: 0px 0px 0px 10px;
}
.rs-temp-text__description table tbody tr:last-child td:last-child {
  border-radius: 0px 0px 10px 0px;
}