.rs-footer {
	background: #282539;
	padding: 80px 0px;
	color: #fff;

	@media (max-width: 1920px) {
		padding: calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320))) 0px
			calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320)));
	}

	// .rs-footer__container
	&__container {
	}

	// .rs-footer__wrappper
	&__wrappper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 160px;
		position: relative;

		@media (max-width: 992px) {
			grid-template-columns: repeat(1, 1fr);
		}

		@media (max-width: 1920px) {
			gap: calc(15px + (160 - 15) * ((100vw - 320px) / (1920 - 320)));
		}

		&::after {
			content: "";
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			width: 1px;
			height: 100%;
			background-color: rgba(230, 230, 230, 0.3);

			@media (max-width: 992px) {
				display: none;
			}
		}
	}

	// .rs-footer__request
	&__request {
	}

	// .rs-footer__form
	&__form {
		margin-top: 20px;

		@media (max-width: 1920px) {
			margin-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
		}
	}

	// .rs-footer__social
	&__social {
		margin-top: 20px;

		@media (max-width: 1920px) {
			margin-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
		}

		ul {
			display: flex;
			align-items: center;
			margin-top: 8px;

			li {
				&:not(:last-child) {
					margin-right: 8px;
				}

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 28px;
					height: 28px;
					background: #ffffff;
					border-radius: 24px;

					img {
						width: 16px;
						height: 16px;
						object-fit: contain;
						filter: grayscale(100%);
					}
				}
			}
		}
	}

	// .rs-footer__info
	&__info {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	// .rs-footer__block
	&__block {
		width: 100%;
		max-width: 377px;

		@media (max-width: 768px) {
			max-width: 100%;
			margin-top: 30px;
		}
	}

	// .rs-footer__about
	&__about {
		p {
			margin-top: 16px;
			color: #b5b5b9;
			max-width: 300px;

			@media (max-width: 1920px) {
				margin-top: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
			}
		}
	}

	// .rs-footer__logo
	&__logo {
		width: 100%;
		height: 100%;
		max-width: 82px;

		@media (max-width: 1920px) {
			max-width: calc(53px + (82 - 53) * ((100vw - 320px) / (1920 - 320)));
		}

		a {
			display: block;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				border-radius: 50%;
			}
		}
	}

	// .rs-footer__contact
	&__contact {
		margin-top: 49px;

		@media (max-width: 1920px) {
			margin-top: calc(20px + (49 - 20) * ((100vw - 320px) / (1920 - 320)));
		}

		ul {
			li {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				font-feature-settings: "pnum" on, "lnum" on;
				color: #ffffff;

				&:not(:last-child) {
					margin-bottom: 16px;
				}

				span {
					color: #b5b5b9;
					margin-bottom: 4px;
					display: block;
				}
			}
		}
	}

	// .rs-footer__feedback
	&__feedback {
		margin-top: 27px;
		display: flex;
		align-items: flex-start;

		@media (max-width: 1920px) {
			margin-top: calc(20px + (27 - 20) * ((100vw - 320px) / (1920 - 320)));
		}

		i {
			&::before {
				font-size: 44px;

				@media (max-width: 1920px) {
					font-size: calc(25px + (44 - 25) * ((100vw - 320px) / (1920 - 320)));
				}
			}
		}
	}

	// .rs-footer__touch
	&__touch {
		margin-left: 16px;

		ul {
			margin-top: 7px;
			display: flex;
			align-items: center;

			@media (max-width: 1350px) {
				flex-direction: column;
				align-items: flex-start;
			}

			li {
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 22px;
				color: #ffffff;
				position: relative;

				@media (max-width: 1920px) {
					font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
					line-height: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
				}

				&:not(:last-child) {
					margin-right: 37px;

					@media (max-width: 1920px) {
						margin-right: calc(15px + (37 - 15) * ((100vw - 320px) / (1920 - 320)));
					}

					@media (max-width: 1350px) {
						margin-right: 0px;
						margin-bottom: 10px;
					}
				}

				@media (min-width: 1351px) {
					&:first-child {
						&::after {
							content: "|";
							position: absolute;
							top: 0;
							right: -19px;
						}
					}
				}

				a {
					transition: color 0.3s ease 0s;
				}

				&:first-child {
					a {
						@media (any-hover: hover) {
							&:hover {
								color: #f6eca2;
							}
						}
					}
				}

				&:last-child {
					a {
						@media (any-hover: hover) {
							&:hover {
								color: #7e5ddd;
							}
						}
					}
				}
			}
		}
	}

	// .rs-footer__copyright
	&__copyright {
		margin-top: 27px;

		@media (max-width: 1920px) {
			margin-top: calc(20px + (27 - 20) * ((100vw - 320px) / (1920 - 320)));
		}

		p {
			color: #b5b5b9;

			a {
				display: inline-block;
				margin-left: 10px;
				padding-bottom: 3px;
				border-bottom: 1px solid #b5b5b9;

				@media (any-hover: hover) {
					&:hover {
						border: none;
					}
				}
			}

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}

	&__navigation {
		width: 100%;

		@media (min-width: 769px) {
			max-width: 245px;
			margin-left: 50px;

			@media (max-width: 1920px) {
				max-width: calc(200px + (245 - 200) * ((100vw - 768px) / (1920 - 768)));
			}
		}

		@media (max-width: 768px) {
			margin-top: 30px;
		}
	}

	.menu {
		// .menu__body
		&__body {
		}

		// .menu__list
		&__list {
			margin-top: 20px;

			@media (max-width: 1920px) {
				margin-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
			}

			li {
				&:not(:last-child) {
					margin-bottom: 12px;
				}

				a {
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 21px;
					font-feature-settings: "pnum" on, "lnum" on;
					transition: color 0.3s ease 0s;

					@media (any-hover: hover) {
						&:hover {
							color: #7e5ddd;
						}
					}
				}
			}
		}
	}
}
