._icon-cart:before {
	content: "\e900";
	color: #fff;
}
._icon-contact:before {
	content: "\e901";
	color: #f6eca2;
}
._icon-fav:before {
	content: "\e902";
	color: #fff;
}
._icon-list_arrow-down:before {
	content: "\e903";
	color: #fff;
}
._icon-list_arrow-right:before {
	content: "\e903";
	transform: rotate(90deg);
	color: #b9b9b9;
}
._icon-procent:before {
	content: "\e904";
	color: #ef262c;
}
._icon-search:before {
	content: "\e905";
	color: #6d758d;
}
._icon-slider_arrow-left:before {
	content: "\e906";
}
._icon-slider_arrow-right:before {
	content: "\e907";
}
._icon-stars:before {
	content: "\e908";
	color: #f6eca2;
}
._icon-telegram:before {
	content: "\e909";
	color: #039be5;
}
._icon-user:before {
	content: "\e90a";
	color: #fff;
}
._icon-vk:before {
	content: "\e90b";
	color: #07f;
}
._icon-whatsapp:before {
	content: "\e90d";
	color: rgb(76, 175, 80);
}
._icon-whatsapp:after {
	content: "\e90e";
	margin-left: -1em;
	color: rgb(250, 250, 250);
}
._icon-close:before {
	content: "\e90c";
}
