.rs-banner {
	margin: 48px 0px;
	position: relative;

	@media (max-width: 1920px) {
		margin: calc(20px + (48 - 20) * ((100vw - 320px) / (1920 - 320))) 0px;
	}

	@media (min-width: 769px) {
		height: 251px;
	}

	@media (max-width: 768px) {
		height: 402px;
	}

	@media (min-width: 769px) {
		&.rs-banner-reverse {
			.rs-banner__description {
				margin: 0px 0px 0px auto;
			}
		}
	}

	// .rs-banner__bg
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	// .rs-banner__img
	&__img {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 8px;

			&.rs-banner__bg-desktop {
				@media (max-width: 768px) {
					display: none;
				}
			}

			&.rs-banner__bg-mobile {
				@media (min-width: 769px) {
					display: none;
				}
			}
		}
	}

	// .rs-banner__prlxs
	&__prlxs {
	}

	&__prlx {
		position: absolute;
		z-index: 10;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		&.rs-banner__prlx-1 {
			width: 200px;
			height: 197px;

			@media (min-width: 769px) {
				top: 3%;
				right: 43.2%;
			}

			@media (max-width: 768px) {
				bottom: 182px;
				left: 11px;
			}

			@media (max-width: 1920px) {
				width: calc(83px + (200 - 83) * ((100vw - 320px) / (1920 - 320)));
				height: calc(82px + (197 - 82) * ((100vw - 320px) / (1920 - 320)));
			}
		}

		&.rs-banner__prlx-2 {
			width: 80px;
			height: 79px;

			@media (min-width: 769px) {
				bottom: 23%;
				right: 1%;
			}

			@media (max-width: 768px) {
				bottom: 98px;
				right: 6px;
			}

			@media (max-width: 1920px) {
				width: calc(43px + (80 - 43) * ((100vw - 320px) / (1920 - 320)));
				height: calc(42px + (79 - 42) * ((100vw - 320px) / (1920 - 320)));
			}
		}

		&.rs-banner__prlx-3 {
			width: 119px;
			height: 119px;

			@media (min-width: 769px) {
				left: 2.7%;
				top: 3%;
			}

			@media (max-width: 768px) {
				bottom: 190px;
				left: 16px;
			}

			@media (max-width: 1920px) {
				width: calc(58px + (119 - 58) * ((100vw - 320px) / (1920 - 320)));
				height: calc(49px + (119 - 49) * ((100vw - 320px) / (1920 - 320)));
			}
		}

		&.rs-banner__prlx-4 {
			width: 98px;
			height: 98px;

			@media (min-width: 769px) {
				left: 39.6%;
				top: 22%;
			}

			@media (max-width: 768px) {
				bottom: 156px;
				right: 16px;
			}

			@media (max-width: 1920px) {
				width: calc(53px + (98 - 53) * ((100vw - 320px) / (1920 - 320)));
				height: calc(53px + (98 - 53) * ((100vw - 320px) / (1920 - 320)));
			}
		}
	}

	// .rs-banner__description
	&__description {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 100%;
		max-width: 540px;
		padding: 40px 60px;
		color: #fff;

		@media (max-width: 1920px) {
			padding: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)))
				calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));
			max-width: calc(240px + (540 - 240) * ((100vw - 320px) / (1920 - 320)));
		}

		@media (max-width: 768px) {
			justify-content: flex-start;
			max-width: 100%;
		}

		p {
			margin-top: 12px;

			@media (max-width: 1920px) {
				margin-top: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));
			}
		}
	}
}
