.rs-banner {
	margin: 48px 0px;
	position: relative;

	@media (max-width: 1920px) {
		margin: calc(20px + (48 - 20) * ((100vw - 320px) / (1920 - 320))) 0px;
	}

	@media (min-width: 769px) {
		height: 251px;
	}

	@media (max-width: 768px) {
		height: calc(402px + (600 - 402) * ((100vw - 320px) / (1920 - 320)));
	}

	.inner-page & {
		margin: 45px 0px 40px;

		@media (max-width: 1169.98px) {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	@media (min-width: 769px) {
		&.rs-banner-reverse {
			.rs-banner__description {
				margin: 0px 0px 0px auto;
			}
		}

		&.rs-banner-inner {
			@media (min-width: 769px) {
				height: 360px;
			}

			.rs-banner__description {
				max-width: 55.6%;
				padding-top: 80px;
				padding-bottom: 80px;

				@media (max-width: 1920px) {
					padding-top: calc(20px + (80 - 20) * ((100vw - 320px) / (1920 - 320)));
					padding-bottom: calc(20px + (80 - 20) * ((100vw - 320px) / (1920 - 320)));
				}

				p {
					margin-top: 16px;

					@media (max-width: 1920px) {
						margin-top: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
					}
				}
			}
		}

		&.rs-banner-small {
			height: 269px;

			.rs-btn {
				margin-top: 24px;

				@media (max-width: 1920px) {
					margin-top: calc(10px + (24 - 10) * ((100vw - 320px) / (1920 - 320)));
				}
			}

			.rs-banner__description {
				max-width: 595px;
				padding-top: 40px;
				padding-bottom: 40px;

				@media (max-width: 1920px) {
					padding-top: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
					padding-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
				}
			}
		}
	}

	&._pink-bg {
		background: linear-gradient(180deg, #cd006e 0%, #e70788 100%);
	}

	&._blue-bg {
		background: linear-gradient(180deg, #3290c7 0%, #52acda 100%);
	}

	&._purple-bg {
		background: linear-gradient(180deg, #9732c7 0%, #8c2aba 100%);
	}

	&__container {
		height: 100%;
	}

	&__wrapper {
		height: 100%;
		position: relative;
		z-index: 10;
	}

	// .rs-banner__bg
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		overflow: hidden;

		&-circle {
			&::after {
				content: "";
				position: absolute;
				right: 5.1%;
				top: 59%;
				width: 687px;
				height: 687px;
				display: block;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='687' height='687' viewBox='0 0 687 687' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='343.5' cy='343.5' r='342.5' stroke='white' stroke-width='2' stroke-dasharray='10 10'/%3e%3c/svg%3e ");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				transform: translateY(-50%);
				animation: dashedMoveY 100s linear infinite;

				@media (max-width: 1439.98px) {
					width: 600px;
					height: 600px;
					right: 0%;
				}

				@media (max-width: 1169.98px) {
					right: -5%;
					width: 500px;
					height: 500px;
				}

				@media (max-width: 991.98px) {
					right: -15%;
				}

				@media (max-width: 767.98px) {
					width: 358px;
					height: 358px;
					top: auto;
					bottom: -141px;
					left: 50%;
					transform: translateX(-50%);
					animation: dashedMoveX 100s linear infinite;
				}
			}

			@keyframes dashedMoveY {
				0% {
					transform: translateY(-50%) rotate(0deg);
				}

				100% {
					transform: translateY(-50%) rotate(360deg);
				}
			}

			@keyframes dashedMoveX {
				0% {
					transform: translateX(-50%) rotate(0deg);
				}

				100% {
					transform: translateX(-50%) rotate(360deg);
				}
			}
		}
	}

	// .rs-banner__img
	&__img {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 8px;

			&.rs-banner__bg-desktop {
				@media (max-width: 768px) {
					display: none;
				}
			}

			&.rs-banner__bg-mobile {
				@media (min-width: 769px) {
					display: none;
				}
			}
		}
	}

	// .rs-banner__prlxs
	&__prlxs {
	}

	&__prlx {
		position: absolute;
		z-index: 10;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		&.rs-banner__prlx-1 {
			width: 200px;
			height: 197px;

			@media (min-width: 769px) {
				top: 3%;
				right: 43.2%;
			}

			@media (max-width: 768px) {
				bottom: 182px;
				left: 11px;
			}

			@media (max-width: 1920px) {
				width: calc(83px + (200 - 83) * ((100vw - 320px) / (1920 - 320)));
				height: calc(82px + (197 - 82) * ((100vw - 320px) / (1920 - 320)));
			}
		}

		&.rs-banner__prlx-2 {
			width: 80px;
			height: 79px;

			@media (min-width: 769px) {
				bottom: 23%;
				right: 1%;
			}

			@media (max-width: 768px) {
				bottom: 98px;
				right: 6px;
			}

			@media (max-width: 1920px) {
				width: calc(43px + (80 - 43) * ((100vw - 320px) / (1920 - 320)));
				height: calc(42px + (79 - 42) * ((100vw - 320px) / (1920 - 320)));
			}
		}

		&.rs-banner__prlx-3 {
			width: 119px;
			height: 119px;

			@media (min-width: 769px) {
				left: 2.7%;
				top: 3%;
			}

			@media (max-width: 768px) {
				bottom: 190px;
				left: 16px;
			}

			@media (max-width: 1920px) {
				width: calc(58px + (119 - 58) * ((100vw - 320px) / (1920 - 320)));
				height: calc(49px + (119 - 49) * ((100vw - 320px) / (1920 - 320)));
			}
		}

		&.rs-banner__prlx-4 {
			width: 98px;
			height: 98px;

			@media (min-width: 769px) {
				left: 39.6%;
				top: 22%;
			}

			@media (max-width: 768px) {
				bottom: 156px;
				right: 16px;
			}

			@media (max-width: 1920px) {
				width: calc(53px + (98 - 53) * ((100vw - 320px) / (1920 - 320)));
				height: calc(53px + (98 - 53) * ((100vw - 320px) / (1920 - 320)));
			}
		}

		&.rs-banner__prlx-5 {
			width: 127px;
			height: 127px;

			@media (min-width: 769px) {
				top: 3%;
				right: 43.2%;
			}

			@media (max-width: 768px) {
				bottom: 130px;
				left: 11px;
			}

			@media (max-width: 1920px) {
				width: calc(58px + (127 - 58) * ((100vw - 320px) / (1920 - 320)));
				height: calc(49px + (127 - 49) * ((100vw - 320px) / (1920 - 320)));
			}
		}
	}

	// .rs-banner__description
	&__description {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 100%;
		max-width: 540px;
		padding: 40px 60px;
		color: #fff;

		@media (max-width: 1920px) {
			padding: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)))
				calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));
			max-width: calc(240px + (540 - 240) * ((100vw - 320px) / (1920 - 320)));
		}

		@media (max-width: 768px) {
			justify-content: flex-start;
			max-width: 100%;
		}

		p {
			margin-top: 12px;

			@media (max-width: 1920px) {
				margin-top: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));
			}
		}

		.rs-btn {
			margin-top: 60px;

			@media (max-width: 1920px) {
				margin-top: calc(10px + (60 - 10) * ((100vw - 320px) / (1920 - 320)));
			}

			@media (max-width: 767.98px) {
				width: 100%;
				line-height: 24px;
				font-size: 13px;
				padding: 7px 14px;
			}
		}
	}
}
