.rs-calc {
	margin: 88px 0px 30px;

	// .rs-calc__container
	&__container {
		.line-title {
			margin-bottom: 16px;
		}
		& > h2 {
			text-align: center;
		}
	}

	// .rs-calc__wrapper
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		margin-top: 54px;
	}

	// .rs-calc__filter
	&__filter {
		// .rs-calc__filter_form
		&_form {
		}

		.tabs {
			margin-top: 10px;
			// .tabs__navigation
			&__navigation {
				display: flex;
				align-items: center;
			}

			// .tabs__title
			&__title {
				width: 100%;
				padding: 10px 18px;
				border-radius: 8px;
				background: #ece7fa;
				color: #7e5ddd;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px; /* 171.429% */
				transition: all 0.3s ease 0s;

				&._tab-active {
					color: #fff;
					background: #7e5ddd;
				}

				&:not(:last-child) {
					margin-right: 10px;
				}
			}

			// .tabs__content
			&__content {
			}

			// .tabs__body
			&__body {
				margin-top: 20px;
			}
		}

		// .rs-calc__filter_list
		&_list {
		}

		// .rs-calc__filter_item
		&_item {
			&:not(:last-child) {
				margin-bottom: 18px;
			}

			.radio-list {
				display: flex;
				flex-wrap: wrap;
				margin: 1px -6px -6px;

				li {
					display: flex;
					cursor: pointer;
					position: relative;
					text-align: left;
					margin: 6px;

					input {
						position: absolute;
						height: 100%;
						width: 100%;
						opacity: 0;
						font-size: 0px;
						cursor: pointer;

						&:checked ~ .radio-label {
							background-color: #7e5ddd;
							color: #fff;
						}
					}

					.radio-label {
						padding: 5px 9px;
						background-color: #f3f6fb;
						border-radius: 8px;
						transition: all 0.3s ease 0s;
						color: #1a1a1f;
						text-align: center;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 24px; /* 171.429% */
					}
				}
			}

			.checkbox-list {
				display: flex;
				flex-wrap: wrap;
				margin: -8px -15px -15px;

				li {
					display: flex;
					cursor: pointer;
					position: relative;
					text-align: left;
					margin: 15px;

					input {
						position: absolute;
						height: 100%;
						width: 100%;
						opacity: 0;
						font-size: 0px;
						cursor: pointer;
						z-index: 100;

						&:checked ~ .checkbox::after {
							opacity: 1;
							visibility: visible;
						}
					}

					.checkbox {
						display: block;
						transition: all 0.3s ease 0s;
						position: relative;
						min-height: 20px;
						min-width: 20px;
						max-height: 20px;
						max-width: 20px;
						border-radius: 4px;
						background-color: transparent;
						transition: all 0.3s ease 0s;

						&::after {
							content: "";
							position: absolute;
							top: -2px;
							left: -2px;
							right: -2px;
							bottom: -2px;
							width: calc(100% + 4px);
							height: calc(100% + 4px);
							border: 2px solid #7e5ddd;
							opacity: 0;
							visibility: hidden;
							border-radius: 6px;
							transition: all 0.3s ease 0s;
						}

						&.black {
							background-color: #000;
						}
						&.matte {
							background-color: #ebebeb;
						}
						&.half-black {
							background-color: #828282;
						}
						&.white {
							background-color: #fff;
							border: 1px solid #c9cfda;
						}
						&.black-with-ring {
							background-color: #000;
						}
					}

					.checkbox-label {
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 150%; /* 21px */
						margin-left: 8px;
					}
				}
			}
		}
	}

	// .rs-calc__result
	&__result {
		padding: 29px 48px 0px 38px;
		width: 100%;

		&_block {
			width: 100%;
			padding: 27px;
			border-radius: 50%;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: inherit;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='397' height='397' viewBox='0 0 397 397' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='198.5' cy='198.5' r='197.068' stroke='%237E5DDD' stroke-width='1.86353' stroke-dasharray='9.32 9.32'/%3e%3c/svg%3e ");
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				animation: dashedMove 100s linear infinite;
			}

			@keyframes dashedMove {
				0% {
					transform: rotate(0deg);
				}

				100% {
					transform: rotate(360deg);
				}
			}
		}

		// .rs-calc__result_img
		&_img {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 65px 84px;
			border-radius: 50%;
			background: #f3f6fb;
		}
	}

	&__option {
		margin-left: -12px;
	}
	
	// .rs-calc__table
	&__table {
	}

	// .rs-calc__order
	&__order {
	}
}
