body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 999;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	z-index: 1000;
}
.popup_show {
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
}
.popup__close {
	position: absolute;
	right: 16px;
	top: 16px;
	z-index: 10;
	width: 46px;
	height: 46px;
	background-color: #f2f4f9;
	border-radius: 50%;

	@media (max-width: 1439.98px) {
		right: 20px;
		top: 10px;
		width: 40px;
		height: 40px;
	}

	&::before {
		font-size: 18px;
		color: #565973;
	}
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #fff;
	padding: 44px 40px 40px;
	width: 100%;
	max-width: 580px;
	border-radius: 10px;
	position: relative;

	@media (max-width: 1439.98px) {
		padding: 45px 20px 20px;
	}

	.lock & {
		visibility: visible;
	}

	h2 {
		margin-bottom: 8px;
	}
}

.popup-feedback {
	text-align: center;

	.form {
		margin-top: 23px;

		// .form__wrapper
		&__wrapper {
		}

		// .form__block
		&__block {
		}

		// .form__line
		&__line {
			width: 100%;
			position: relative;
			margin: 0;

			&:not(:last-child) {
				margin-bottom: 10px;
			}

			&._form-error {
				.rs-input-placeholder {
					font-size: 12px;
					line-height: 120%;
					top: 12px;
				}
				.form__right {
					opacity: 0;
					visibility: hidden;
				}
			}

			&._form-right {
				.rs-input-placeholder {
					font-size: 12px;
					line-height: 120%;
					top: 12px;
				}
				.form__right {
					opacity: 1;
					visibility: visible;
				}
			}

			&._form-valid {
				.rs-input-placeholder {
					font-size: 12px;
					line-height: 120%;
					top: 12px;
				}
			}

			&._form-focus {
				.rs-input {
					background-color: #fff;
					border-color: #e2e6ef;
				}
				.rs-input-placeholder {
					font-size: 12px;
					line-height: 120%;
					top: 12px;
				}
				.form__right {
					opacity: 0;
					visibility: hidden;
				}
			}
		}

		&__error {
			margin-top: 3px;
			margin-left: 15px;
			color: #e35255;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 120%;
			text-align: left;
		}

		&__right {
			position: absolute;
			right: 45px;
			top: 50%;
			transform: translateY(-50%);
			width: 13px;
			height: 10px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10' fill='none'%3e%3cpath d='M10.2929 1.29296L3.99892 7.58696C3.99992 7.58596 1.70692 5.29296 1.70692 5.29296C1.51832 5.1108 1.26571 5.01001 1.00352 5.01229C0.741321 5.01456 0.490509 5.11973 0.305101 5.30514C0.119692 5.49055 0.0145233 5.74136 0.0122448 6.00356C0.00996641 6.26575 0.110761 6.51836 0.292919 6.70696L2.58692 9.00096C3.36692 9.78096 4.63692 9.77796 5.41292 9.00096L11.7069 2.70696C11.8024 2.61471 11.8786 2.50437 11.931 2.38236C11.9834 2.26036 12.011 2.12914 12.0122 1.99636C12.0133 1.86358 11.988 1.7319 11.9377 1.60901C11.8875 1.48611 11.8132 1.37446 11.7193 1.28056C11.6254 1.18667 11.5138 1.11242 11.3909 1.06214C11.268 1.01186 11.1363 0.986555 11.0035 0.987709C10.8707 0.988862 10.7395 1.01645 10.6175 1.06886C10.4955 1.12127 10.3852 1.19745 10.2929 1.29296Z' fill='%237CB521'/%3e%3c/svg%3e");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			user-select: none;
			transition: all 0.3s ease 0s;
		}

		// .form__footer
		&__footer {
			margin-top: 10px;
			flex-direction: column;
		}

		// .form__agreement
		&__agreement {
			color: #565973;
			text-align: center;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 120%;
			max-width: 100%;

			a {
				text-decoration: underline;

				@media (any-hover: hover) {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		// .form__button
		&__button {
			margin-top: 22px;
			width: 100%;
			max-width: 100%;

			.rs-btn {
				width: 100%;
			}
		}
	}

	.rs-input-placeholder {
		position: absolute;
		top: 18px;
		left: 20px;
		color: #61646b;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		pointer-events: none;
		z-index: 10;
		transition: all 0.3s ease 0s;

		@media (max-width: 1439.98px) {
			font-size: 13px;
			line-height: 17px;
		}
	}

	.rs-input {
		outline: none;
		width: 100%;
		padding: 25px 60px 11px 20px;
		border-radius: 10px;
		border: 1px solid #fff;
		background-color: #f6f6f6;
		color: #212121;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 160%;
		transition: 0.3s ease 0s;
		transition-property: background-color, border-color;

		@media (max-width: 1439.98px) {
			font-size: 13px;
			line-height: 17px;
			padding: 25px 60px 10px 20px;
		}

		&._form-focus {
			background-color: #fff;
			border-color: #e2e6ef;
		}

		&._form-error {
			border-color: #ed7575;
			background-color: #fae5e4;
		}

		&._form-right {
			border-color: #eff1f6;
			background-color: #fff;
		}
	}

	textarea.rs-input {
		resize: vertical;
		min-height: 109px;
	}

	.rs-input-clear {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 21px;
		display: none;

		&._clear-active {
			display: block;
		}

		&::before {
			font-size: 16px;
			color: #565973;
		}
	}
}

.popup-thanks {
	text-align: center;

	.popup__text {
		& > img {
			text-align: center;
			margin: 0 auto;
		}

		& > p {
			margin-top: 5px;
			margin-bottom: 20px;
		}

		& > .rs-btn {
			width: 100%;
		}
	}
}

.popup-order {
	h2 {
		margin-bottom: 20px;
	}

	.form {
		// .form__wrapper
		&__wrapper {
		}

		// .form__block
		&__block {
		}

		// .form__line
		&__line {
			width: 100%;
			position: relative;
			margin: 0;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		&__detail {
			margin-top: 30px;

			& > p {
				margin-top: 2px;
				color: #7e5ddd;
				font-size: 14px;
				font-style: normal;
				font-weight: 600;
				line-height: 15.004px; /* 107.171% */
			}

			&_block {
				margin-top: 10px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-radius: 8px;
				background: #f3f6fb;
				padding: 15px 20px;

				@media (max-width: 539.98px) {
					flex-direction: column;
					align-items: flex-start;
					padding: 15px 10px;
				}

				ul {
					li {
						color: #1a1a1f;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 18px; /* 128.571% */

						@media (max-width: 991.98px) {
							font-size: 13px;
						}

						span {
							color: #6c6b6b;
						}
					}
				}
			}

			&_info {
				background-color: #fff;
				padding: 20px;
				border-radius: 8px;
				width: 100%;
				max-width: 195px;

				@media (max-width: 539.98px) {
					max-width: 100%;
					margin-top: 20px;
					padding: 15px 10px;
				}

				h6 {
					span {
						color: #7e5ddd;
					}
				}

				p {
					color: #6c6b6b;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px; /* 150% */
				}
			}
		}

		&__button {
			margin-top: 20px;
			width: 100%;
			max-width: 100%;

			.rs-btn {
				width: 100%;
			}
		}
	}

	.rs-placeholder {
		color: #1a1a1f;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 15.004px; /* 107.171% */
		z-index: 10;
		transition: all 0.3s ease 0s;
		text-transform: none;
		margin-bottom: 8px;
	}

	.rs-input {
		outline: none;
		width: 100%;
		padding: 9px 16px;
		border-radius: 8px;
		background-color: #f3f6fb;
		color: #212121;
		transition: 0.3s ease 0s;
		transition-property: background-color, border-color;
		color: #6d758d;
		font-variant-numeric: lining-nums proportional-nums;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%; /* 22.4px */

		&::placeholder {
			color: #6d758d;
		}
	}

	.upload {
		// .upload__block
		&__block {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 9px 16px;
			border-radius: 8px;
			background: #f3f6fb;

			@media (max-width: 539.98px) {
				flex-direction: column;
				align-items: flex-start;
			}
		}

		// .upload__input
		&__input {
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			font-size: 0px;
		}

		// .upload__btn
		&__btn {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row-reverse;
			color: #7e5ddd;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 15.004px; /* 107.171% */

			span {
				text-decoration-line: underline;
				text-underline-offset: 2px;
				text-decoration-skip-ink: none;
			}

			&::before {
				margin-left: 8px;
				font-size: 13px;
			}
		}

		&__label {
			color: #6d758d;
			font-variant-numeric: lining-nums proportional-nums;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%; /* 22.4px */

			@media (max-width: 539.98px) {
				margin-bottom: 10px;
			}
		}

		&__hint {
			width: 100%;
			text-align: right;
			margin-top: 3px;
			color: #6d758d;
			font-variant-numeric: lining-nums proportional-nums;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%; /* 19.2px */
		}

		&__load {
			display: flex;

			._file-load & {
				display: none;
			}
		}

		&__del {
			display: none;
			position: relative;
			z-index: 5;

			._file-load & {
				display: flex;
			}
		}
	}
}
